body {
    background-color: #ffeedd;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.sblr {
    color: blue;
    text-decoration: none;
}

.heading1 {
    font-family: 'Montez', cursive;
    font-size: 40px;
    color: blue;
}

.note {
    color: rgb(101, 3, 101);
}

.btn {
    display: inline-block;
    text-align: right;
    right: 2%;
    top: 3.2%;
    position: absolute;

}

.bbt {
    color: #fff;
    background-color: blue;
    font-size: 15px;
    width: 125px;
    height: 40px;
    border: none;
}

i {
    cursor: pointer;
}


a {
    color: black;
}

.sign {
    color: blue;
}

/* post - 1 */


.name {
    background-color: #f8f6f6;
    padding: 50px 10px;
    border-radius: 15px;
    display: flex;
    color: rgb(126, 128, 128);
    font-weight: bold;
}

.head {
    margin-left: 26px;
    margin-bottom: 30px;
    color: rgb(126, 128, 128);
    height: 1px;
    font-weight: bold;
}

.para1 {
    margin-left: 26px;
    display: flex;

}

.box1 {
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: 43%;
    margin: 15px 0;
    background-color: rgb(222, 225, 222);
    margin-left: 60px;
    margin-top: 30px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);


}



.para-name {
    background-color: rgb(222, 225, 222);
    border-radius: 15px;

}


.trash {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    height: 35px;

}

.ellips {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 27px;
}

.box1:hover {

    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);


}

/* post - 2 */

.box2 {
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: 45%;
    margin: 15px 0;
    background-color: rgb(222, 225, 222);
    margin-left: 53%;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);


}


.para2 {
    margin-left: 26px;
    display: flex;
}


.box2:hover {

    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);

}



/* post - 4 */

.para4 {
    margin-left: 26px;
    display: flex;
    height: 80px;
}


/* post - 5 */

.name5 {
    background-color: #f8f6f6;
    padding: 54px 10px;
    border-radius: 15px;
    display: flex;
    color: rgb(126, 128, 128);
    font-weight: bold;

}

.para-name5 {
    background-color: rgb(222, 225, 222);
    border-radius: 15px;
    padding-top: 20px;
}


.head5 {
    margin-left: 26px;
    margin-bottom: 40px;
    color: rgb(126, 128, 128);
    height: 20px;
    font-weight: bold;
}


.para5 {
    margin-left: 26px;
    display: flex;
}

.trash5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    height: 35px;

}



.box5:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);

}



/* modal btn css */
.delete-post-modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

}

.delete-post-modal-content {
    background-color: #fefefe;
    margin: 26% auto;
    padding: 10px;
    border: 1px solid #888;
    height: 120px;
    /* margin-left: 400px; */
    /* margin-top: 100px; */
    width: 340px;

}

.delete-post-heading {
    font-size: 18px;
    color: #000;
}

.delete-post-btns-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.confirm-delete-btn {
    width: 80px;
    align-self: right;
}

.cancel-delete-btn {
    width: 80px;
    align-self: center;
    background: #c22;

}